{% extends 'MasterPage.twig' %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h3 class="jumbotron-heading">MON PANIER</h3>
     </div>
</section>
{% if produits == null %}
<h5 class='text-center'>panier vide</h5>
{% else %}
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produit</th>
                            <th scope="col">Disponibilité</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th scope="col" class="text-right">Prix</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td><img src={{ produit.image }} class="img-responsive" alt="prewiew" width="120" height="80" /> </td>
                                <td>{{ produit.nom }}</td>
                                <td>En stock</td>
                                <td><input class="form-control" type="text" value={{produit.quantity}} /></td>
                                <td class="text-right">{{ produit.prix }}€</td>
                                <td class="text-right">
                                    <a class="btn btn-sm btn-danger" role="button" href="/{{produit.id}}/item-remove">
                                        <i class="fa fa-trash"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sous-Total</td>
                            <td class="text-right">255,90 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Livraison</td>
                            <td class="text-right">26,90 €</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Totale</strong></td>
                            <td class="text-right"><strong>346,90 €</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-lg btn-block btn-outline-info" role="button" href="/catalogue">Continuer le Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-info" role="button" href="/payment">Payer</a>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endif %}
<hr>

 {% endblock %}