{% extends 'MasterPage.twig' %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h3 class="jumbotron-heading">Décovrez notre catalogue</h3>
     </div>
</section>
<div class="container">
  
  <div class="row">

    <div class="col-lg-3">

      <h5 class="my-4">ShoesIsAllYouNeed</h5>
      <div class="list-group">
        <a href="/catalogue/chaussures" class="list-group-item">Chaussures</a>
        <a href="/catalogue/basckets" class="list-group-item">Basckets</a>
        <a href="/catalogue/escarpins" class="list-group-item">Escarpins</a>
         <a href="/catalogue/bottines" class="list-group-item">Bottines</a>
      </div>
      <br>
       <div class="row">
    
      <form class="form-horizontal" action="/search" method='post'>
      <div class="input-group">
        <input type="text" name="item" class="form-control" placeholder="Rechercher les articles">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
     </form>
    </div>
    </div>
    

    <div class="col-lg-9">
     
    <br>
      <div class="row">
        {% for produit in produits %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{ produit.image }} class="img-fluid" alt="prewiew" width="120" height="150"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#"> {{ produit.nom }} </a>
              </h4>
              <h5>{{ produit.prix }}€</h5>
              <p class="card-text"> {{ produit.description }} </p>
              </p>
              <a class="btn btn-sm btn-block btn-info" role="button" href="/{{produit.id}}/item-add"><i class="fa fa-shopping-cart"></i> Acheter</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->
 </div>
 <!-- /.container -->
 <hr>
 {% endblock %}